.theorem
  margin 1rem 0
  padding .1rem 1.5rem
  background-color #f0f4f8
  border-color #5bc0de
  color darken(#5bc0de, 70%)
  border-left-width: 0.5rem
  border-left-style: solid;
  .title
    font-weight bold
    color darken(#5bc0de, 40%)

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right
