/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #2d68c3
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 960px
$homePageWidth = 960px
